#heading
    .r:empty
        display none
        ~.l
            width 970px
            position relative
            .author
                position absolute
                margin-top 0px
                margin-right 0px
                top 52px
                right 3px
