@import colors
@import prefixes
@import extraIg

.ig
    @import basics
.ig.base
    ul
        list-style-type none
        list-style-image none
        margin 0px
        li
            padding-top 10px
            h2
                font-weight normal
                color #333
                font-size 1.2em
                margin-bottom 10px
            &:first-child
                position relative
                span.month
                    position absolute
                    top 55px
                    text-align center
                    font-size 0.8em
                    color #333
                    font-variant small-caps
                    &:last-child
                        display none
                span.day
                    position absolute
                    left -19px
                    font-size 0.7em
                    color #333
                    text-align right
                    margin-top 78px
                    font-variant small-caps
                    &:nth-child(8)
                    &:nth-child(9)
                        color black
                svg
                    margin-top 20px
    svg
        shape-rendering crispEdges
        width 704px
        height 105px
        path
            fill none
            stroke #666
            stroke-width 2px
        rect.prior
            stroke #f3f3f3
            fill #f3f3f3
