@import colors
@import prefixes
@import extraIg

.ig
    @import basics
.ig.base
    ul
        list-style-type none
        list-style-image none
        margin 0px
        li
            padding-top 10px
            h2
                font-weight normal
                color #222
                font-size 1.2em
                margin-bottom 10px
    svg
        shape-rendering crispEdges
        width 925px
        height 148px
        path
            fill none
            stroke #666
            stroke-width 2px
